@import "nullstyle.scss";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap"); // font-family: 'Libre Baskerville', serif;
// ! ================= Mixins ========================
$maxWidth: 768;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
// ! ================= Styles ========================
// ? ================= Tech styles ===================
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 730px;
	padding: 0 15px;
	margin: 0 auto;
}

// ? ================= Header ========================
.header {
	flex: 0 0 auto;
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: white;
	&__body {
		display: flex;
		align-items: center;
		position: relative;
		width: 100%;
		height: 85px;
		justify-content: space-around;
		padding: 0px 0px 5px 0px;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 1px;
			width: 90%;
			background: rgb(160, 160, 160);
		}
	}

	&__picture {
		width: calc(30px + 20 * ((100vw - 320px) / (768 - 320)));
		height: calc(40px + 20 * ((100vw - 320px) / (768 - 320)));
		max-height: 60px;
		max-width: 50px;
		&:first-child {
			animation: titlePicture-right 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
			background: url("../img/pepuk-1.png") 0 0 / 100% 100% no-repeat;
		}
		&:last-child {
			animation: titlePicture-left 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
			background: url("../img/pepuk-1.png") 0 0 / 100% 100% no-repeat;
		}
	}

	&__title {
		font-family: "Libre Baskerville", serif;
		display: flex;
		justify-content: center;
		@include adaptiv-font(25, 15);
		text-transform: uppercase;
		letter-spacing: calc(3px + 13 * ((100vw - 320px) / (768 - 320)));
		@media (min-width: 768px) {
			letter-spacing: 16px;
			font-size: 25px;
		}
		&::before {
			content: "<";
		}
		&::after {
			content: ">";
		}
	}
}

@keyframes titlePicture-right {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes titlePicture-left {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(-180deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}
// ? ================= Main ========================
.main {
	flex: 1 0 auto;
	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 105px 0px 20px 0px;
	}

	&__start {
		position: absolute;
		height: 100%;
		width: 100%;
		background: white;
		z-index: 3;
		// display: flex;
		// display: none;
		align-items: center;
		justify-content: center;
	}

	&__button {
		cursor: default;
		font-weight: 700;
		border-radius: 30px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		&_start {
			position: relative;
			letter-spacing: 3px;
			font-size: 25px;
			width: 300px;
			height: 50px;
			background-color: transparent;
			transition: background-color 600ms ease 0s;
			&:active {
				background-color: rgba(255, 249, 94, 1);
				transition: background-color 200ms ease 0s;
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				z-index: -1;
			}
			&::before {
				background: linear-gradient(to bottom, rgba(254, 252, 234, 1) 0%, rgba(255, 249, 94, 1) 100%);
				animation: button-start-background 2s ease-in-out infinite alternate;
			}
			&::after {
				background: linear-gradient(to bottom, rgba(255, 249, 94, 1) 0%, rgba(254, 252, 234, 1) 100%);
				animation: button-start-background 2s ease-in-out infinite alternate-reverse;
			}
		}

		&_end {
			padding: 8px 30px;
			background-color: rgba(255, 0, 0, 0.5);
			transition: background-color 600ms ease 0s;
			font-style: italic;
			letter-spacing: 1px;
			&:active {
				background-color: rgba(255, 249, 94, 0.8);
				transition: background-color 200ms ease 0s;
			}
		}

		&_pause {
			padding: 8px 30px;
			background-color: rgba(48, 223, 25, 0.8);
			transition: background-color 600ms ease 0s;
			font-style: italic;
			letter-spacing: 1px;
			margin: 0px 0px 15px 0px;
			&:active {
				background-color: rgba(255, 153, 0, 0.5);
				transition: background-color 200ms ease 0s;
			}
		}
	}

	&__controls {
		position: relative;
		margin: 0px 0px 15px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include adaptiv-font(22, 18);
		@media (min-width: 768px) {
			font-size: 22px;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 0 20px 0;
	}

	&__timer {
		margin: 0px 0px 10px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.logger {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	max-height: 200px;
	width: 90%;
	overflow-y: auto;
	@include adaptiv-font(16, 13);
	font-style: italic;

	&__time {
		color: red;
		font-weight: 700;
		font-style: normal;
	}

	&__blue {
		color: blue;
		font-style: normal;
	}
	&__spacing {
		width: 100%;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			height: 1px;
			width: 100%;
			background-color: rgb(0, 255, 255);
		}
	}
	p {
		margin: 0 0 5px 0;
		&:last-child {
			margin: 0;
		}
	}
}

.timer {
	font-style: italic;

	&__begin {
		margin: 0px 0px 10px 0px;
	}

	&__passing {
	}
}

.card {
	border: 1px solid rgb(160, 160, 160);
	border-radius: 10px;
	// border-bottom: 1px solid;
	// border-top: 1px solid;
	flex: 0 0 47%;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 0px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&__title {
		text-align: center;
		@include adaptiv-font(28, 18);
		@media (min-width: 768px) {
			font-size: 30px;
		}
		margin: 0px 0px 5px 0px;
	}

	&__frequency {
		@include adaptiv-font(25, 11);
		@media (min-width: 768px) {
			font-size: 20px;
		}
		border-top: 1px solid rgb(160, 160, 160);
		border-bottom: 1px solid rgb(160, 160, 160);
		display: flex;
		align-items: center;
		background-color: rgba(0, 217, 255, 0.384);
		padding: 5px 0;
		font-style: italic;
		color: rgba(0, 0, 0, 0.548);
		p {
			border-right: 1px dashed rgba(0, 0, 0, 0.3);
			// flex: 0 0 33.33%;
			flex: 1 1 auto;
			text-align: center;
			&:last-child {
				border-right: none;
			}
		}
	}

	&__displayer {
		@include adaptiv-font(30, 20);
		@media (min-width: 768px) {
			font-size: 30px;
		}
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		background-color: rgba(124, 124, 124, 0.185);
	}

	&__controls {
		display: grid;
		grid-template: 1fr / 2fr 2.5fr 2fr;
	}

	&__button {
		cursor: default;
		@include adaptiv-font(30, 20);
		@media (min-width: 768px) {
			font-size: 30px;
		}
		width: 100%;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		&_plus {
			background-color: rgba(0, 255, 0, 0.4);
			transition: background-color 200ms ease 0s;
			&:active {
				background-color: rgba(0, 255, 0, 0.6);
				transition: background-color 200ms ease 0s;
			}
		}

		&_minus {
			background-color: rgba(255, 0, 0, 0.4);
			transition: background-color 200ms ease 0s;
			&:active {
				background-color: rgba(255, 0, 0, 0.6);
				transition: background-color 200ms ease 0s;
			}
		}
	}
}
.frequency {
}

@keyframes button-start-background {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
